<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- if use "=" it escapes special characters and we end up a string value instead of raw html -->
    <%- include('./partials/nav.ejs') %>

    <div class="book-content">
      <h2 class="all-books"></h2>
    </div>
    <div class="container-fluid">

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold" style="font-family: 'Helvetica';color: red; text-shadow: 2px 2px 4px #a5a4a4; opacity: 100%;" >About our History</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">For many years, we have remained close to the hearts of millions of Filipinos across generations. No matter what point they are in their lives, they will always have a home here in National Book Store – whether they are readers, artists, students, even the whole family.

        We are proud to remain a constant in everyone's journey, nurturing the passions and inspiring the growth of every Filipino. Our founders, Socorro Cancio – Ramos, Jose Ramos, and their family, embodied hard work and powerful leadership and persevered against all odds. Their once small stall in Escolta, despite having been burnt to the ground during the Japanese occupation and later ravaged by a typhoon, would persevere and prosper amidst such great adversity. It is this resilience and relentlessness that took us to heights they once thought were impossible.
        
        Their journey is an inspiration for Filipinos everywhere, and a reminder of the humble beginnings of one of the country's most loved institutions.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
     
    </div>
  </div>

    </div>








    <%- include('./partials/footer.ejs') %>
  </body>
</html>
