<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <style>

    .btn:hover{
      color:black

    }
  </style>
  <body>
    <!-- if use "=" it escapes special characters and we end up a string value instead of raw html -->
    
<%- include('./partials/adminnav.ejs') %>
    <div class="container-fluid d-flex justify-content-center mt-5">
    <div class="create-book">
      
      <div><br><br><br></div>

    </div>
  </div>
    
  </body>
</html>
